<button class="btn btn-success" (click)="onNewBoard()">New Board</button>
&nbsp;&nbsp;&nbsp;
<button class="btn btn-success" (click)="onNewTask()">New Task</button>
<hr>
<div class="board1">
      <div class="wrapper" *ngFor="let ingredient_ of ingredient; let i=index">
        <div class="list">
          <div class="target">
            <div class="list-header" style="cursor: pointer">
              <h3 style="width:400px" (click)="onEditItem1(i)">{{ingredient_.name}}</h3>
            </div>
            <div class="list-cards" *ngIf="ingredient_.name== 'Backlog'">
              <a class="list-card" *ngFor="let ingredient of ingredients; let i=index">
                  <h5 style="line-height:44px" (click)="onEditItem(i)">{{ingredient.task_id}} - {{ingredient.task_title}}  <img [src]="ingredient.assigned"></h5>
              </a>
              <a class="open-card-composer" (click)="onNewTask()"> + Add Another Task</a>
            </div>

            <div class="list-cards" *ngIf="ingredient_.name== 'Todo'">
              <a class="list-card" *ngFor="let ingredient of ingredients; let i=index">
                  <h5 style="line-height:44px" (click)="onEditItem(i)">{{ingredient.task_id}} - {{ingredient.task_title}}  <img [src]="ingredient.assigned"></h5>
              </a>
              <a class="open-card-composer" (click)="onNewTask()"> + Add Another Task</a>
            </div>
          </div>
        </div>
      </div>
    
</div>
  <br>
<!-- 
<div class="dd" >
  <div  >      
         <div class="board" style="cursor: pointer" *ngFor="let ingredient_ of ingredient; let i=index">
            <h3 style="width:400px" (click)="onEditItem1(i)">{{ingredient_.name}}</h3>&nbsp;&nbsp;&nbsp; 
         </div>
  
  </div>
    

</div>


<div class="task_detail " *ngFor="let ingredient of ingredients; let i=index"  >
    <div class="tasks">
      <h4 (click)="onEditItem(i)">{{ingredient.task_id}} - {{ingredient.task_title}} <img [src]="ingredient.assigned"> </h4>
      <br>
    </div>
</div>

  <div  *ngIf="selectedTask">
   <div class="dd">
    <table >
      <h4><u>{{selectedTask.task_id}} - {{selectedTask.task_title}} </u><img class="a" [src]="selectedTask.assigned"> </h4> 
    <tr>
        <p><img [src]="selectedTask.comments.comment_author"> <br><span>{{selectedTask.comments.comment_id}} {{selectedTask.comments.comment_text}}</span></p>
    </tr>
    
  </table>
    </div>
  </div>
  <br><br>
  

 -->
  <!-- 
    ===>data from json
    <div class="container-fluid" *ngFor="let board of board_">
   
      <table >
        <tr >
          <th class="a">{{board.name}}</th>
        </tr>
      
      </table>
  </div> -->