.d_{
    background-color: white;
}
   .tasks{
        background-color: #F0A07C;
        color: #4A274F;
        font-size: 16px;
        text-align: center;
        border-radius: 52px!important;
        height: 0px;
        margin-left: 8px;
        cursor: pointer;

    }
    
    h4{
        margin: 1px;
    }
    .tasks  img{
        max-height: 30px;
        float:right;
        border-radius: 60px!important;
    }

    .dd{
        background-color: white;
    }
    
    
.board{
    background-color: #483ad4;
        color: #ccf381;
        text-align: center;
        border-radius: 52px!important;
        height: 50px;
        margin-left: 8px;
        cursor: pointer;
        
}
    .dd p{
        padding-bottom: 1px;
        float: left;
        padding-left: 25px;
        
    }
    .dd span{
        background-color: #5244e0;
    }
    .dd    h4{
        margin: 1px;
        float: left;
        padding-left: 25px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .dd table h4 img{
        max-height: 30px;
        
        border-radius: 60px!important;
    }
    .dd table tr img{
        max-height: 50px;
        float: left;
        border-radius: 50px!important;
    }

    .dd     span{
        padding-bottom: 5px;
    }



    .task_detail{
        background-color: white;
        width:400px;
    }
    .task_detail div{
        display: inline-block;
        padding: 1px;
        height: 35px;
        margin:4px;
        
        
    }

    .dd div{
        display: inline-block;
        padding: 1px; 
    }