
  <div class="task_detail" *ngFor="let tasks of task" [class.selected]="task  === selectedTask" (click)="onSelect(tasks)">
   <div>
    <table >
      <h4>{{tasks.task_id}} - {{tasks.task_title}} <img [src]="tasks.assigned"> </h4>   
    </table>
    <br>
  </div>
  </div>
  <div class="task_detail"><div>
  <table >
      <h4 routerLinkActive="active"><a routerLink="/addTask">Add Task</a> </h4>   
  </table>
</div></div>
  <div  *ngIf="selectedTask">
   <div class="dd">
    <table >
      <h4><u>{{selectedTask.task_id}} - {{selectedTask.task_title}} </u><img class="a" [src]="selectedTask.assigned"> </h4> 
    <tr>
        <p><img [src]="selectedTask.comments.comment_author"> <br><span>{{selectedTask.comments.comment_id}} {{selectedTask.comments.comment_text}}</span></p>
    </tr>
    
  </table>
    </div>
  </div>
  <br><br>
  


