
<br>
<hr>
<div class="board1" cdkDropListGroup>
      <div class="wrapper" *ngFor="let board_ of board; let i=index">
        <div class="list">
          <div class="target">
            <div class="list-header" style="cursor: pointer" >

              <h3 style="width:400px" (click)="onEditItem1(i)"><a (click)="onEditItem1(i)">{{board_.name}}</a></h3>
            <div  cdkDropList class="list-cards"  [cdkDropListData]="board_.task"
            (cdkDropListDropped)="drop($event)"
            cdkDropList>
            <div class="list-card"  *ngFor="let item of board_.task let i=index"[class.selected]="item  === selectedTask" (click)="onSelect(item)" cdkDrag>
              <h5 style="line-height:44px" 
              >{{item.task_id+ ""}}-{{item.task_title}} <img [src]="item.assigned"> </h5> 
            
            </div>
            <a class="open-card-composer" *ngIf="board_.name ==='Backlog'"(click)="onAddTask()"> + Add Another Task</a>
          </div>
        </div>
        

           
      </div>
    </div>
  </div>
<button class="boardButton" (click)="onNewBoard()">New Board</button>
</div>
<br>

<div  *ngIf="selectedTask">
  <div class="dd ">
   <div class="col-sm-7 form-group">
     <h4><u>{{selectedTask.task_id}} - {{selectedTask.task_title}} </u><img class="a" [src]="selectedTask.assigned"> </h4> 
   <div *ngFor="let comment_ of selectedTask.comment ">
      <p >
          {{comment_.comment_id}}
          {{comment_.comment}} 
          by {{comment_.comment_auther}}<br>
      </p>
    </div>
    </div>
    <div class="col-sm-3 form-group" (click)="onEditItem(selectedTask.task_id)">
   <button class="boardButton" style="    margin-top: 46px;margin-left: 187px;" (click)="onEditItem(selectedTask.task_id)"
   >Edit Task</button>
  </div>

   </div>
 </div>        
 <div *ngIf="editMode">
 <app-edit-task></app-edit-task>
</div>    






            <!-- <div cdkDropList class="list-cards" *ngIf="board_.name== 'Backlog'" 
            cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="boards"
    [cdkDropListConnectedTo]="[doneList]"
  
    (cdkDropListDropped)="drop($event)">
    <div>
              <a class="list-card" *ngFor="let board of boards; let i=index" cdkDrag>
                  <h5 style="line-height:44px" (click)="onEditItem(i)">{{board.task_id}} - {{board.task_title}}  <img [src]="board.assigned"></h5>
              </a>
              <a class="open-card-composer" (click)="onNewTask()"> + Add Another Task</a>
              </div>
            </div>


            <div cdkDropList class="list-cards" *ngIf="board_.name== 'Todo'" 
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="boards"
              [cdkDropListConnectedTo]="[doneList]"
              (cdkDropListDropped)="drop($event)">
              <div>
              <a class="list-card" *ngFor="let board of boards; let i=index" cdkDrag>
                  <h5 style="line-height:44px" (click)="onEditItem(i)">{{board.task_id}} - {{board.task_title}}  <img [src]="board.assigned"></h5>
              </a>
              <a class="open-card-composer" (click)="onNewTask()"> + Add Another Task</a>
              </div>
            </div> -->

<!-- 
<div class="dd" >
  <div  >      
         <div class="board" style="cursor: pointer" *ngFor="let board_ of board; let i=index">
            <h3 style="width:400px" (click)="onEditItem1(i)">{{board_.name}}</h3>&nbsp;&nbsp;&nbsp; 
         </div>
  
  </div>
    

</div>


<div class="task_detail " *ngFor="let board of boards; let i=index"  >
    <div class="tasks">
      <h4 (click)="onEditItem(i)">{{board.task_id}} - {{board.task_title}} <img [src]="board.assigned"> </h4>
      <br>
    </div>
</div>

  <div  *ngIf="selectedTask">
   <div class="dd">
    <table >
      <h4><u>{{selectedTask.task_id}} - {{selectedTask.task_title}} </u><img class="a" [src]="selectedTask.assigned"> </h4> 
    <tr>
        <p><img [src]="selectedTask.comments.comment_author"> <br><span>{{selectedTask.comments.comment_id}} {{selectedTask.comments.comment_text}}</span></p>
    </tr>
    
  </table>
    </div>
  </div>
  <br><br>
  

 -->
  <!-- 
    ===>data from json
    <div class="container-fluid" *ngFor="let board of board_">
   
      <table >
        <tr >
          <th class="a">{{board.name}}</th>
        </tr>
      
      </table>
  </div> -->