.board1{
    position: relative;
    flex-grow: 1;


    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.scroll{
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.wrapper {
    width: 394px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.list{
    
        background-color: #dfe1e6;
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        position: relative;
        white-space: normal;
    
}
.list-header {
    flex: 0 0 auto;
    padding: 10px 8px 8px;
    position: relative;
    min-height: 20px;
}
h3 {
    font-size: 28px;
    line-height: 48px;
    margin: 0 0 8px;
}
.list-cards {
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}
.list-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 378px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.open-card-composer {
    border-radius: 0 0 3px 3px;
    color: #6b778c;
    display: block;
    flex: 0 0 auto;
    padding: 8px;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}







.header-target {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.d_{
    background-color: white;
}
   .tasks{
        background-color: #F0A07C;
        color: #4A274F;
        font-size: 16px;
        text-align: center;
        border-radius: 52px!important;
        height: 0px;
        margin-left: 8px;
        cursor: pointer;

    }
    
    h4{
        margin: 1px;
    }
     img{
        max-height: 37px;
        margin-top: 5px;
        margin-right: 2px;
        float: right;
        border-radius: 60px!important;
    }
    
    

    .dd{
        background-color: white;
    }
    
    
.board{
    background-color: #483ad4;
        color: #ccf381;
        text-align: center;
        border-radius: 52px!important;
        height: 50px;
        margin-left: 8px;
        cursor: pointer;
        
}
    .dd p{
        padding-bottom: 1px;
        float: left;
        padding-left: 25px;
        
    }
    .dd span{
        background-color: #5244e0;
    }
    .dd    h4{
        margin: 1px;
        float: left;
        padding-left: 25px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .dd table h4 img{
        max-height: 30px;
        
        border-radius: 60px!important;
    }
    .dd table tr img{
        max-height: 50px;
        float: left;
        border-radius: 50px!important;
    }

    .dd     span{
        padding-bottom: 5px;
    }



    .task_detail{
        background-color: white;
        width:400px;
    }
    .task_detail div{
        display: inline-block;
        padding: 1px;
        height: 35px;
        margin:4px;
        
        
    }

    .dd div{
        display: inline-block;
        padding: 1px; 
    }