<div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)= "onSubmit(f)" #f="ngForm" class="addTask">
       
            
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="tId">ID : </label>
            <input
              type="number"
              id="tId"
              class="form-control"
              name="tId"
              ngModel
              required
              placeholder="Task ID">
          </div>
          <div class="col-sm-5 form-group">
            <label for="task">Task : </label>
            <input
              type="text"
              id="task" name="tTitle"
              class="form-control"
              ngModel
              required
              placeholder="Task Name">
          </div>
          <div class="col-sm-2 form-group">
            <label for="pic">Picture URL: </label>
            <input
              type="text"
              id="pic"
              name="pIc"
              class="form-control"
              ngModel
              required
              placeholder="Image URL">
          </div>
          <div class="col-sm-1 form-group">
          <button type="button" style="margin:31px" class="btn btn-danger"  onClick="location.href=location.href">X</button>
         </div>
  <br>
        
        </div>
        
      
        <div class="row">
          <div class="col-xs-12">
            <button 
            class="btn btn-success" 
            type="submit" 
            [disabled] = "!f.valid" style="    margin-right: 14px;">{{editMode ? 'Update' : 'Add'}}</button>
            <button class="btn btn-danger" type="button" (click)="onDelete()"
            *ngIf="editMode">Delete</button>
  
          </div>
        </div>
      </form>
      </div>
  </div>
  
  