
<div class="row">
  <div class="col-xs-12">
    <div *ngIf="taskForm">
    <form  [formGroup]="taskForm" (ngSubmit)= "onSubmit()"  > 
      <div class="row">
       <div class="col-sm-2 ">
          <div class="form-group">
          <label for="task_id">ID : </label>
          <input
            type="number"
            id="task_id"
            class="form-control"
            formControlName="task_id"
            required>
        </div>
      </div>
        <div class="col-sm-5 ">
            <div class="form-group">
          <label for="task_title">Task : </label>
          <input
            type="text" id="task_title"
            class="form-control"
            formControlName="task_title"
            required>
        </div>
        </div>
        <div class="col-sm-2 ">
            <div class="form-group">
          <label for="assigned">Picture URL: </label>
          <input
            type="text"
            id="assigned"
            class="form-control"
            formControlName="assigned"
            required>
        </div>
        </div>
        <div >
            <div >
                <div  formArrayName="comment">
                <div *ngFor="let ingredientCtrl of getControls(); let i = index"
                [formGroupName]="i"
                style="margin-top: 10px;">
                  <div class="row">
                      <div class="col-sm-2 ">
                          <div class="form-group">
                        <label >Commetn ID:</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="comment_id"
                          required>
                      </div>
                      </div>

                      <div class="col-sm-7 ">
                          <div class="form-group">
                        <label >Commet :</label>
                        <input
                          type="text" 
                          class="form-control"
                          formControlName="comment"
                          required>
                      </div>
                      </div>
                      <div class="col-sm-2 ">
                          <div class="form-group">
                        <label >Author :</label>
                        <input
                          type="text" 
                          class="form-control"
                          formControlName="comment_auther"
                          required>
                      </div>
                      </div>
                     
                      <div class="col-xs-1" style="    margin-top: 33px; margin-left: 29px;">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="onDeleteComment(i)">X</button>
                      </div>
                      </div>
                      <br>
                  </div>
                </div>
    </div>
</div>
        
<br>
<div class="row">
    <div class="col-sm-5 form-group">
        <button type="button" style="    margin-top: 43px; margin-left: 84px;" class="btn btn-danger"  onClick="location.href=location.href">Close</button>
    </div>
</div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-success"
            (click)="onAddComment()">Add Comments</button>
        </div>
      </div>
              <br>
              
      <div class="row">
        <div class="col-xs-12">
          <button 
          class="btn btn-success" 
          type="submit" 
          [disabled] = "!taskForm.valid" style="    margin-right: 14px;">Save</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()"
          *ngIf="editMode">Delete</button>

        </div>
      </div>
     
    </form>
  </div>
    </div>
</div>

