<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)= "onSubmit(f)" #f="ngForm" class="addName">
      <div class="row">
          <div class="col-sm-2 form-group">
              <label for="boardID">Board ID</label>
              <input
                type="number"
                id="boardID"
                class="form-control"
                name="boardID"
                ngModel
                required
                >
            </div>
        <div class="col-sm-9 form-group">
          <label for="name">New Board Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
            >
        </div>
        <div class="col-sm-1 form-group">
          <button type="button" style="margin:31px" class="btn btn-danger" (click)="onCancel()">X</button>
         </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
          class="btn btn-success" 
          type="submit" 
          [disabled] = "!f.valid" style="    margin-right: 14px;">{{editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()"
          *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
