table{
    width: 100%;
    border-bottom:5px solid;
}dd
table th{
    width: 19%;
    border:2px solid;
}
table tr{
    font-size: medium;
}
table tr .a{
    background-color: #7CFC00;
    
}
table tr .b{
    background-color: #7FFF00;

}
table tr .c{
    background-color: #32CD32;
}
table tr .d{
    background-color: #00FF00;
}
.dd{
    background-color: white;
}
.dd div{
    display: inline-block;
    width: 24%;
    padding: 1px;
}
