table{
    width: 100%;
    padding-left:3px;
    padding-right: 3px;
    
    color:#CCF381;

    
}dd
table th{
    width: 250px;
    border:2px solid;
    
}
table tr{
    font-size: medium;
    
    background-color: #483aD4;
    font-size: 20px;
}
table tr .a{
    border-radius: 52px!important;
    text-align: center;
}
.dd{
    background-color: white;

    
}
.dd div{
    display: inline-block;
    width: 430px;
    padding: 1px;

    
}
