table{
    width: 100%;
    padding-left:3px;
    padding-right: 3px;
    
    color:#CCF381;
}dd
table th{
    width: 19%;
    border:2px solid;
    
}
table tr{
    font-size: medium;
    
    background-color: #483aD4;
    font-size: 20px;
}
table tr .a{
    border:4px solid #7cfc008c;
    border-radius: 52px!important;
}
table tr .b{
    border:4px solid  #7cfc00a3;
    border-radius: 52px!important;
    
}
table tr .c{
    border:4px solid  #7cfc00d6;
    border-radius: 52px!important;
}
table tr .d{
    border:4px solid  #7cfc00;
    border-radius: 52px!important;
}
.dd{
    background-color: white;
}
.dd div{
    display: inline-block;
    width: 24%;
    padding: 1px;
}
