


<app-edit-tables></app-edit-tables>

<hr>
<div class="dd" >
<div   class="list-group-item"
style="cursor: pointer"
*ngFor="let ingredient of ingredients">      <a >
       
        <table >
          <tr >
            <th class="a">{{ingredient.name}}</th>
          </tr>
        
        </table>
      </a>
    
    </div>
    
  <!-- 
    ===>data from json
    <div class="container-fluid" *ngFor="let board of board_">
   
      <table >
        <tr >
          <th class="a">{{board.name}}</th>
        </tr>
      
      </table>
  </div> -->
</div>
