table{
    width: 100%;
    border-bottom:5px solid;
    padding: 2px;
}
table th{
    width: 19%;
    border:2px solid;
}
table tr{
    font-size: medium;
}

.dd{
    background-color: white;
}
.dd div{
    display: inline-block;
    width: 24%;
    padding: 1px;
    height: 50px;
}
