
    table{
        width: 75%;
        background-color: #483ad4;
        color: #ccf381;
        font-size: 18px;
        text-align: center;
        border: 4px solid #1815ff;
        border-radius: 20px!important;
        height: 0px;
        margin-left: 206px;
        margin-right: 206px;
    }
    p{
        padding-bottom: 1px;
        float: left;
        padding-left: 25px;
        
    }
    span{
        background-color: #5244e0;
    }
    h4{
        margin: 1px;
        float: left;
        padding-left: 25px;
    }
    table h4 img{
        max-height: 30px;
        
        border-radius: 60px!important;
    }
    table tr img{
        max-height: 50px;
        border-radius: 50px!important;
    }

    span{
        padding-bottom: 5px;
    }



